html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #181818;
}

header {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  text-align: center;
  background-color: #ffbc00;
}

header nav a {
  display: block;
  padding: 20px;
  color: #000;
  text-decoration: none;
}

header nav a:not(:last-child) {
  border-bottom: 1px solid #fff;
}

header nav a.active,
header nav a:hover {
  background-color: #624478;
  color: #fff;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  border-bottom: 3px solid #ff4500;
}
