:root {
  --black: #000;
  --white: #fff;
  --orange: #ff4500;
  --main-bg: #040a2c;
  --header-bg: #ffc107;
  --active-link: #881b9b;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--main-bg);
}

.header {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  text-align: center;
  background-color: var(--header-bg);
}

.nav-link {
  display: block;
  padding: 20px;
  color: var(--black);
  text-decoration: none;

  &:not(:last-child) {
    border-bottom: 1px solid var(--white);
  }

  &.active,
  &:hover {
    background-color: var(--active-link);
    color: var(--white);
  }
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 700;
  color: var(--header-bg);
  border-bottom: 3px solid var(--header-bg);
}
